body {
   background-color: rgb(103, 103, 221); 
}

h1 {
    color: #40de62;
}

h3 {
    color: #0beded;
}

hr {
    background-color: rgb(103, 103, 221);
    border-style: dotted none none;
    border-top: dotted rgb(73, 72, 72) 5px;
    width: 50px;
}

